body{
   color:blue;
   background-color: salmon;
   text-align: center;
   padding: 20px;
   border: 5px solid blue;
   font-family: sans-serif;
}
img{
  float: left;
  width: auto;
  height: auto;
}
p{
   color: green;
   text-align: center;
}
h1,h2,h3{
   color:red;
   text-align: center;
   padding: 3px solid brown;
}
li{
   color: maroon;
   list-style-type: none;
   text-align: center;
}
